body{
  background-image: linear-gradient(to right, rgba(21, 121, 151, 0), rgb(187, 215, 241));
}



/*GENERAL HEADER STYLE*/
.imagenBanner {
    width: 100%;
    height: 450px;
  }
  
  /* GENERAL NAV STYLE*/

  nav .navegadorPrincipal {
    margin: 0 auto;
    display: block;
    padding: 30px;
    text-align: center;
    font-size: 18px;
  }
  nav .navegadorPrincipal ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #b2afcb;
    display: inline-block;
    padding: 0 130px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
  }
  nav .navegadorPrincipal ul li a {
    color: #041624;
  }
  nav .navegadorPrincipal ul li a:hover {
    color: #afc1cb;
  }
  
  nav .navegadorPrincipal ul li ul {
    position: absolute;
    left: 0;
    display: none;
    background-image: linear-gradient(to right, rgba(21, 121, 151, 0), rgb(139, 192, 241));
  }
  nav .navegadorPrincipal ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 30px;
    box-shadow: 0px 3px 5px 0px #ccc;
  }
  nav .navegadorPrincipal ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }
  nav .navegadorPrincipal ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #afc1cb;
    transition: all 0.3s ease;
  }
  nav .navegadorPrincipal a {
    text-decoration: none;
  }
  
  
  /*GENERAL FOOTER STYLE*/
  footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    background-color: #999;
    margin-top: 80px;
  }
  
  footer .derechos {
    width: 50%;
    float: left;
  }
  
  footer p {
    padding-left: 10%;
    margin: auto;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px #000000;
  }
  
  footer .redes {
    width: 50%;
    float: right;
  }
  
  footer a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  footer .facebook {
    background-color: #405d99;
    font-size: 15px;
    float: right;
    width: 250px;
  }
  
  footer .twitter {
    background-color: #1c9cea;
    font-size: 15px;
    width: 250px;
    float: right;
  }
  
  footer .instagram {
    background: linear-gradient(#674bc4, #d13e87);
    font-size: 15px;
    width: 250px;
    float: right;
  }
  

  /*up button style*/
  
#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(24, 112, 116);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
  