
/*NAV ACTIVE*/
nav .navegadorPrincipal .active {
  color: rgb(73, 226, 231);
  text-shadow: 1px 1px 1px #000000;
  font-weight: bold;
  font-size: 25px;

}


/*MAIN CONTENT INDEX*/
.seccionSlider {
  position: relative;
  width: 80%;
  height: 560px;
  margin-left: 10%;
  margin-top: 140px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.seccionSlider video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px black;
}

.seccionSlider .navegacion {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccionSlider .navegacion li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 2px;
  background: rgb(24, 112, 116);
  padding: 3px 3px 0;
  opacity: 0.5;
  transition: 1s;
}

.seccionSlider .navegacion li:hover {
  opacity: 1;
  background: #fff;
}

.seccionSlider .navegacion li img {
  width: 150px;
  transition: 0.6;
}

.seccionSlider .navegacion li img:hover {
  width: 200px;
}


/*ARGUMENTO STYLE*/
.texto {
  margin-top: 60px;

}

.texto h1 {
  color: rgb(24, 112, 116);
  margin-left: 10%;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 2px #000000;

}

.texto p {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 40px;
  font-size: 15.5px;
  font-family: cursive;
}

.cajaTrailer article h1 {
  color: rgb(24, 112, 116);
  margin-left: 10%;
  font-size: 30px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 2px #000000;

}


/*TRAILER STYLE*/
#video,
video {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  box-shadow: 10px 10px 25px black;
}

