/*PERSONAJES MAIN STYLE*/

/*NAV ACTIVE*/
nav .navegadorPrincipal .active2{
  color: rgb(73, 226, 231);
  text-shadow: 1px 1px 1px #000000;
  font-weight: bold;
  font-size: 25px;
}
nav .navegadorPrincipal .active2-1{
  color: rgb(128, 228, 231);
  text-shadow: 1px 1px 1px #000000;
  font-weight: bold;
}

.tarjetas {
    margin-top: 75px;
    padding-left: 250px;
  }
  .tarjetas a{
      text-decoration: none;
      color: #1d3744;
  }
  
  .tarjeta1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.5s;
    width: 25%;
    float: left;
  }
  .tarjeta1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    
  }
  .container {
    padding: 2px 16px;
  }
  
  .tarjeta2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    margin-left: 15px;
    border-radius: 10px;
  }
  .tarjeta2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    margin-left: 15px;
    border-radius: 10px;
  }
  .tarjeta3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    border-radius: 10px;
  }
  .tarjeta4:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    margin-left: 14.3px;
    border-radius: 10px;
  }
  .tarjeta5:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    margin-left: 15.7px;
    border-radius: 10px;
  }
  .tarjeta6:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta7 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    border-radius: 10px;
  }
  .tarjeta7:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta8 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    margin-left: 14.3px;
    border-radius: 10px;
  }
  .tarjeta8:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta9 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 25%;
    float: left;
    margin-left: 15.7px;
    border-radius: 10px;
  }
  .tarjeta9:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  
  .tarjeta4,
  .tarjeta5,
  .tarjeta6 {
    margin-top: 40px;
  }
  
  .tarjeta7,
  .tarjeta8,
  .tarjeta9 {
    margin-top: 40px;
  }